<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<ul>
			<% messages.forEach(function(message) { %>
			<li>
				<strong><%= message.user %></strong>: <%= message.text %> (added on <%=
				message.added.toLocaleString() %>)
			</li>
			<% }); %>
		</ul>
		<p><a href="/new">Add a Message</a></p>
	</body>
</html>
